In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [42]:
data=pd.read_csv('flightsdata.csv')

In [43]:
data.head()

,Unnamed: 0,Source,Destination,Flight_Code,Dep_Date,Dep_Time,Arrival_Time,Duration,Stops,Economy_Price,Premium_Price,Flight_Info,Flight_Changeplace,SeatsLeft_EconomyPrice,SeatsLeft_PremiumPrice
0,0,Pune,New Delhi,"I5 1732, 1528","Sun, Feb 27",23:50,08:55+1,9h5m,1,"₹21,525","₹21,735",Flight Change,BLR,No Status,No Status
1,1,Pune,New Delhi,"I5 1732, 741","Sun, Feb 27",23:50,14:05+1,14h15m,1,"₹21,525","₹21,735",Flight Change,BLR,No Status,No Status
2,2,Pune,New Delhi,I5 738,"Fri, Mar 04",01:30,03:35,2h5m,0,"₹7,009","₹7,345",Non Stop,NaN,No Status,No Status
3,3,Pune,New Delhi,I5 732,"Fri, Mar 04",17:55,20:10,2h15m,0,"₹7,009","₹7,345",Non Stop,NaN,No Status,No Status
4,4,Pune,New Delhi,"I5 1426, 789","Fri, Mar 04",14:55,00:50+1,9h55m,1,"₹7,428","₹7,954",Flight Change,JAI,No Status,No Status

In [44]:
data

,Unnamed: 0,Source,Destination,Flight_Code,Dep_Date,Dep_Time,Arrival_Time,Duration,Stops,Economy_Price,Premium_Price,Flight_Info,Flight_Changeplace,SeatsLeft_EconomyPrice,SeatsLeft_PremiumPrice
0,0,Pune,New Delhi,"I5 1732, 1528","Sun, Feb 27",23:50,08:55+1,9h5m,1,"₹21,525","₹21,735",Flight Change,BLR,No Status,No Status
1,1,Pune,New Delhi,"I5 1732, 741","Sun, Feb 27",23:50,14:05+1,14h15m,1,"₹21,525","₹21,735",Flight Change,BLR,No Status,No Status
2,2,Pune,New Delhi,I5 738,"Fri, Mar 04",01:30,03:35,2h5m,0,"₹7,009","₹7,345",Non Stop,NaN,No Status,No Status
3,3,Pune,New Delhi,I5 732,"Fri, Mar 04",17:55,20:10,2h15m,0,"₹7,009","₹7,345",Non Stop,NaN,No Status,No Status
4,4,Pune,New Delhi,"I5 1426, 789","Fri, Mar 04",14:55,00:50+1,9h55m,1,"₹7,428","₹7,954",Flight Change,JAI,No Status,No Status
5,5,Pune,New Delhi,"I5 1427, 749","Fri, Mar 04",19:30,01:20+1,5h50m,1,"₹7,428","₹7,954",Flight Change,BLR,No Status,No Status
6,6,Pune,New Delhi,"I5 1427, 722","Fri, Mar 04",19:30,03:20+1,7h50m,1,"₹9,005","₹9,529",Flight Change,BLR,No Status,No Status
7,7,Pune,New Delhi,"I5 1427, 1528","Fri, Mar 04",19:30,08:55+1,13h25m,1,"₹15,062","₹15,586",Flight Change,BLR,No Status,No Status
8,8,Pune,New Delhi,"I5 1732, 1528","Fri, Mar 04",23:50,08:55+1,9h5m,1,"₹9,844","₹10,368",Flight Change,BLR,No Status,No Status
9,9,Pune,New Delhi,"I5 1732, 741","Fri, Mar 04",23:50,14:05+1,14h15m,1,"₹24,463","₹25,145",Flight Change,BLR,No Status,No Status
10,10,Pune,New Delhi,"I5 320, 552","Fri, Mar 04",19:05,10:05+1,15h0m,2,"₹6,271","₹6,797",Flight Change,CCU,No Status,No Status
11,11,Pune,New Delhi,I5 738,"Tue, Mar 08",01:30,03:35,2h5m,0,"₹6,274","₹6,484",Non Stop,NaN,No Status,No Status
12,12,Pune,New Delhi,I5 732,"Tue, Mar 08",17:55,20:10,2h15m,0,"₹6,274","₹6,484",Non Stop,NaN,No Status,No Status
13,13,Pune,New Delhi,"I5 1426, 789","Tue, Mar 08",14:55,00:50+1,9h55m,1,"₹6,271","₹6,797",Flight Change,JAI,No Status,No Status
14,14,Pune,New Delhi,"I5 1427, 749","Tue, Mar 08",19:30,01:20+1,5h50m,1,"₹5,553","₹6,079",Flight Change,BLR,No Status,No Status
15,15,Pune,New Delhi,"I5 1427, 722","Tue, Mar 08",19:30,03:20+1,7h50m,1,"₹5,553","₹6,079",Flight Change,BLR,No Status,No Status
16,16,Pune,New Delhi,"I5 1427, 1528","Tue, Mar 08",19:30,08:55+1,13h25m,1,"₹6,271","₹6,797",Flight Change,BLR,No Status,No Status
17,17,Pune,New Delhi,"I5 1732, 1528","Tue, Mar 08",23:50,08:55+1,9h5m,1,"₹5,553","₹6,079",Flight Change,BLR,No Status,No Status
18,18,Pune,New Delhi,"I5 1732, 741","Tue, Mar 08",23:50,14:05+1,14h15m,1,"₹4,582","₹5,108",Flight Change,BLR,No Status,No Status
19,19,Pune,New Delhi,"I5 320, 552","Tue, Mar 08",19:05,10:05+1,15h0m,2,"₹3,574","₹4,100",Flight Change,CCU,No Status,No Status
20,20,Pune,New Delhi,I5 738,"Sat, Mar 12",01:30,03:35,2h5m,0,"₹6,695","₹6,989",Non Stop,NaN,No Status,No Status
21,21,Pune,New Delhi,I5 732,"Sat, Mar 12",17:55,20:10,2h15m,0,"₹7,009","₹7,345",Non Stop,NaN,No Status,No Status
22,22,Pune,New Delhi,"I5 1427, 749","Sat, Mar 12",19:30,01:20+1,5h50m,1,"₹6,271","₹6,797",Flight Change,BLR,No Status,No Status
23,23,Pune,New Delhi,"I5 1427, 722","Sat, Mar 12",19:30,03:20+1,7h50m,1,"₹12,166","₹12,690",Flight Change,BLR,No Status,No Status
24,24,Pune,New Delhi,"I5 1427, 1528","Sat, Mar 12",19:30,08:55+1,13h25m,1,"₹12,166","₹12,690",Flight Change,BLR,No Status,No Status
25,25,Pune,New Delhi,"I5 1732, 1528","Sat, Mar 12",23:50,08:55+1,9h5m,1,"₹7,428","₹7,954",Flight Change,BLR,No Status,No Status
26,26,Pune,New Delhi,"I5 1732, 741","Sat, Mar 12",23:50,14:05+1,14h15m,1,"₹12,166","₹12,690",Flight Change,BLR,No Status,No Status
27,27,Pune,New Delhi,"I5 320, 552","Sat, Mar 12",19:05,10:05+1,15h0m,2,"₹6,271","₹6,797",Flight Change,CCU,No Status,No Status
28,28,Pune,New Delhi,I5 738,"Wed, Mar 16",01:30,03:35,2h5m,0,"₹4,111","₹4,303",Non Stop,NaN,No Status,No Status
29,29,Pune,New Delhi,I5 732,"Wed, Mar 16",17:55,20:10,2h15m,0,"₹6,275","₹6,529",Non Stop,NaN,No Status,No Status
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,302,Mumbai,Bangalore,"I5 330, 1529","Sun, Mar 20",21:45,12:25+1,14h40m,1,"₹5,104","₹5,628",Flight Change,DEL,No Status,No Status
1983,303,Mumbai,Bangalore,"I5 471, 819","Sun, Mar 20",23:35,08:40+1,9h5m,1,"₹8,148","₹8,674",Flight Change,GOI,No Status,No Status
1984,304,Mumbai,Bangalore,"I5 620, 1518","Sun, Mar 20",04:45,20:55,16h10m,2,"₹12,468","₹12,992",Flight Change,GOI,No Status,No Status
1985,305,Mumbai,Bangalore,I5 942,"Thu, Mar 24",13:05,14:45,1h40m,0,"₹2,124","₹2,470",Non Stop,NaN,No Status,No Status
1986,306,Mumbai,Bangalore,I5 336,"Thu, Mar 24",20:10,22:05,1h55m,0,"₹2,124","₹2,470",Non Stop,NaN,No Status,No Status
1987,307,Mumbai,Bangalore,I5 1569,"Thu, Mar 24",21:20,23:15,1h55m,0,"₹2,124","₹2,470",Non Stop,NaN,No Status,No Status
1988,308,Mumbai,Bangalore,"I5 620, 819","Thu, Mar 24",04:45,08:40,3h55m,1,"₹3,930","₹4,822",Flight Change,GOI,No Status,No Status
1989,309,Mumbai,Bangalore,"I5 767, 784","Thu, Mar 24",07:20,18:45,11h25m,1,"₹7,698","₹8,276",Flight Change,DEL,No Status,No Status
1990,310,Mumbai,Bangalore,"I5 767, 747","Thu, Mar 24",07:20,21:45,14h25m,1,"₹5,104","₹5,628",Flight Change,DEL,No Status,No Status
1991,311,Mumbai,Bangalore,"I5 767, 721","Thu, Mar 24",07:20,23:35,16h15m,1,"₹6,816","₹7,342",Flight Change,DEL,No Status,No Status
1992,312,Mumbai,Bangalore,"I5 423, 992","Thu, Mar 24",14:55,22:25,7h30m,1,"₹4,365","₹4,779",Flight Change,COK,No Status,No Status
1993,313,Mumbai,Bangalore,"I5 423, 1130","Thu, Mar 24",14:55,00:25+1,9h30m,1,"₹4,365","₹4,779",Flight Change,COK,No Status,No Status
1994,314,Mumbai,Bangalore,"I5 330, 740","Thu, Mar 24",21:45,10:40+1,12h55m,1,"₹5,104","₹5,628",Flight Change,DEL,No Status,No Status
1995,315,Mumbai,Bangalore,"I5 330, 1529","Thu, Mar 24",21:45,12:25+1,14h40m,1,"₹5,104","₹5,628",Flight Change,DEL,No Status,No Status
1996,316,Mumbai,Bangalore,"I5 471, 819","Thu, Mar 24",23:35,08:40+1,9h5m,1,"₹3,930","₹4,822",Flight Change,GOI,No Status,No Status
1997,317,Mumbai,Bangalore,"I5 620, 1518","Thu, Mar 24",04:45,20:55,16h10m,2,"₹4,704","₹5,628",Flight Change,GOI,No Status,No Status
1998,318,Mumbai,Bangalore,I5 942,"Mon, Mar 28",13:05,14:45,1h40m,0,"₹2,124","₹2,470",Non Stop,NaN,No Status,No Status
1999,319,Mumbai,Bangalore,I5 336,"Mon, Mar 28",20:10,22:05,1h55m,0,"₹2,124","₹2,470",Non Stop,NaN,No Status,No Status
2000,320,Mumbai,Bangalore,I5 338,"Mon, Mar 28",20:10,21:55,1h45m,0,"₹2,124","₹2,470",Non Stop,NaN,No Status,No Status
2001,321,Mumbai,Bangalore,I5 1569,"Mon, Mar 28",21:20,23:15,1h55m,0,"₹2,124","₹2,470",Non Stop,NaN,No Status,No Status
2002,322,Mumbai,Bangalore,"I5 620, 819","Mon, Mar 28",04:45,08:25,3h40m,1,"₹4,128","₹5,022",Flight Change,GOI,No Status,No Status
2003,323,Mumbai,Bangalore,"I5 767, 747","Mon, Mar 28",07:20,21:30,14h10m,1,"₹6,816","₹7,342",Flight Change,DEL,No Status,No Status
2004,324,Mumbai,Bangalore,"I5 767, 721","Mon, Mar 28",07:20,23:35,16h15m,1,"₹6,816","₹7,342",Flight Change,DEL,No Status,No Status
2005,325,Mumbai,Bangalore,"I5 767, 735","Mon, Mar 28",07:20,00:15+1,16h55m,1,"₹6,258","₹6,784",Flight Change,DEL,No Status,No Status
2006,326,Mumbai,Bangalore,"I5 423, 992","Mon, Mar 28",14:55,22:25,7h30m,1,"₹4,365","₹4,779",Flight Change,COK,No Status,No Status
2007,327,Mumbai,Bangalore,"I5 423, 1130","Mon, Mar 28",14:55,00:05+1,9h10m,1,"₹4,365","₹4,779",Flight Change,COK,No Status,No Status
2008,328,Mumbai,Bangalore,"I5 330, 740","Mon, Mar 28",22:55,10:40+1,11h45m,1,"₹5,104","₹5,628",Flight Change,DEL,No Status,No Status
2009,329,Mumbai,Bangalore,"I5 330, 1529","Mon, Mar 28",22:55,12:25+1,13h30m,1,"₹5,104","₹5,628",Flight Change,DEL,No Status,No Status
2010,330,Mumbai,Bangalore,"I5 471, 819","Mon, Mar 28",23:35,08:25+1,8h50m,1,"₹3,930","₹4,822",Flight Change,GOI,No Status,No Status
2011,331,Mumbai,Bangalore,"I5 620, 1518","Mon, Mar 28",04:45,20:55,16h10m,2,"₹6,258","₹6,784",Flight Change,GOI,No Status,No Status

In [45]:
data.shape

(2012, 15)

In [46]:
data.drop(columns='Unnamed: 0',inplace=True)

In [47]:
data['Flight_Code'].nunique()

415

FlightCodes will not be useful, drop the column

In [48]:
data.drop(columns='Flight_Code',inplace=True)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2012 entries, 0 to 2011
Data columns (total 13 columns):
Source                    2012 non-null object
Destination               2012 non-null object
Dep_Date                  2012 non-null object
Dep_Time                  2012 non-null object
Arrival_Time              2012 non-null object
Duration                  2012 non-null object
Stops                     2012 non-null int64
Economy_Price             2012 non-null object
Premium_Price             2012 non-null object
Flight_Info               2012 non-null object
Flight_Changeplace        1629 non-null object
SeatsLeft_EconomyPrice    2012 non-null object
SeatsLeft_PremiumPrice    2012 non-null object
dtypes: int64(1), object(12)
memory usage: 204.4+ KB

In [50]:
from datetime import datetime
from datetime import timedelta

In [51]:
for n,i in enumerate(data['Dep_Date']):
    data['Dep_Date'][n]=datetime.strptime(data['Dep_Date'][n],'%a, %b %d').replace(year=2022)

In [52]:
data['Dep_Date'].head()

0    2022-02-27 00:00:00
1    2022-02-27 00:00:00
2    2022-03-04 00:00:00
3    2022-03-04 00:00:00
4    2022-03-04 00:00:00
Name: Dep_Date, dtype: object

In [53]:
next=timedelta(days=1)

In [38]:
data=data.assign(Arrival_Date=data.Dep_Date+next)

In [39]:
data.head()

,Source,Destination,Dep_Date,Dep_Time,Arrival_Time,Duration,Stops,Economy_Price,Premium_Price,Flight_Info,Flight_Changeplace,SeatsLeft_EconomyPrice,SeatsLeft_PremiumPrice,Arrival_Date
0,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-03-01
1,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-03-01
2,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-03-01
3,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-03-01
4,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-02-28,2022-03-01

In [54]:
l=len(data['Arrival_Time'])

In [58]:
for i in range(l):
    if ('+' in data['Arrival_Time'][i]):
        data.loc[i:'Arrival_Date']=data['Dep_Date'][i]+next
    else:
        data.loc[i:'Arrival_Date']=data['Dep_Date'][i]

TypeError: argument of type 'Timestamp' is not iterable

Not able to continue because of time constraints